* {
    font-family: "Optima" !important;
}

div{
    color: #fff;
    font-size: 20px;
}

.regular-button {
    color: black;
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    margin-top: 20px;;
}

.input_and_button{
    display: flex;
    align-items: baseline;
}

.input_and_button input{
    margin-right: 20px;
}

input{
    color: black;
    font-size: 18px;
}

body {
    background-image: url("./assets/img/game-bg.jpg");
}

#initialZone{
    font-size: 24px;
    text-align: center;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    letter-spacing: 1px;
    line-height: 2;
    color: white;
}

h2{
    text-align: center;
    letter-spacing: 1px;
    line-height: 2;
    color: black;
}

.d-card {
    display: flex;
    justify-content: space-around;
}

.d-card-bg {
    display: flex;
    justify-content: space-around;
    
    padding-top: 30vh;
    width: 30vh;
    
    background-color: #fff;
    border: 2px solid #555;
    border-radius: 50%;
    -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .4);
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .4);
    -o-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .4);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .4);
    position: relative;

    background-image: url("./assets/img/card-bg.png");
}

.d-card-symbol {
    background-size: 100%;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-card-1 {
    top:31%;
    left:4%;
    transform:rotate(45deg);
    width:31%;
    height:30%;
}

.d-card-2 {
    top:7%;
    left:25%;
    transform:rotate(155deg);
    width:31%;
    height:30%;
}

.d-card-3 {
    top:62%;
    left:15%;
    transform:rotate(45deg);
    width:22%;
    height:21%;
}

.d-card-4 {
    top:38%;
    left:36%;
    transform:rotate(-105deg);
    width:32%;
    height:32%;
}

.d-card-5 {
    top:10%;
    left:55%;
    transform:rotate(80deg);
    width:22%;
    height:22%;
}

.d-card-6 {
    top:22%;
    left:50%;
    transform:rotate(-90deg);
    width:40%;
    height:40%;
}

.d-card-7 {
    top:72%;
    left:35%;
    transform:rotate(0deg);
    width:26%;
    height:26%;
}

.d-card-8 {
    top:60%;
    left:60%;
    transform:rotate(-30deg);
    width:25%;
    height:25%;
}

.d-button-container {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-around;
    height: 100%;
    background-color:aliceblue;
}

.d-button {
    width: 100%;
}

.d-button-symbol {
    width: 48px;
}

#gameArea {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}


#countdown-container {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    transition: 1s;
    font-size: 0vw;
    opacity: 50%;
    color: rgb(0, 183, 255); 
  }